/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body {
    color: #333;
}

.ant-menu {
    border: none !important;
}

.ant-menu .ant-menu-item,
.ant-menu .ant-menu-submenu-title {
    /* width: 100%;
    margin: 0;
    border-radius: 0; */
}